* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger {
    display: none;
}

h3, .home, .hamburger {
    color: white;
}

.disabled {
    color: #56595c;
    pointer-events: none;
}

nav {
    min-width: 335px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    padding: 1rem 3%;
    gap: 5vw;
}

ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2vw;
    list-style: none;
    flex-grow: 1;
}

li, a {
    text-decoration: none;
    color: #9b9d9f;
}

form, .hamburger {
    flex-shrink: 0;
}

input {
    padding: .4rem;
    border-radius: 4px;
    border: 1px solid rgb(220, 220, 220);
    width: 22vw;
    min-width: 70px;
    max-width: 180px;
}

button {
    margin-left: 1vw;
    padding: .4rem;
    color: #1a8653;
    border-radius: 4px;
    border: 2px solid #1a8653;
    background-color: inherit;
    transition: all 0.2s;
}

button:hover {
    border: 2px solid white;
    background-color: #146c43;
    color: white;
}

@media (max-width: 768px) {
    li {
        display: none;
    }
    .hamburger {
        display: initial;
    }
}

.sub-item {
    display: none;
    position: absolute;
    padding: 2rem 4.5rem 1rem 4.5rem;
    left: 13.5rem;
    background-color: #212529;
    border-radius: 0 0 .5rem .5rem;
}

.sub-item > li {
    padding: .8rem 0;
}

.drop {
    cursor: pointer;
}

.drop:hover .sub-item {
    display: block;
}